@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sen:wght@400;700;800&display=swap');
@import url('./responsivo.css');

* {
  margin: 0 auto;
}

body {
  background-color: #FFFAFA;
}

header a{
  text-decoration: none;
}

header {
  display: flex;
  flex:1;
  justify-content: flex-start;
  align-items: center;
  padding:10px 64px;
  border-bottom: 2px solid #FF490F;
}

header a {
  width: 30px;
}

header .container-title {
  flex: 1;
  justify-content: flex-start;
}

header .container-title h1 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #FF490F;
  margin-left: 15px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  list-style: none;
}

header nav ul li a {
  font-family: 'sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 12px;
  text-decoration: none;
  color: rgba(255, 73, 15, 1);
}

header nav ul li a.btn {
  margin: 8px;
  padding: 8px 20px;
  color: #FFFAFA;
  background-color: #412F2D;
}

main section.firstSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 112px 0px 112px 64px;
}

main section.firstSection figure.firstImage img {
  width: 616px;
  height: 640px;
}

main section.firstSection article {
  margin: 0px 5px 0px 50px;

}

main section.firstSection article h1 {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 83px;
  color: #000000;
}

main section.firstSection article p {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding: 30px 0px;
}

main section.firstSection a.btnTwo {
  margin: 8px;
  padding: 12px 24px;
  font-family: 'sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #FFFAFA;
  background-color: #412F2D;
  border: none;

}

main section.firstSection a.btnThree {
  margin: 12px;
  padding: 12px 24px;
  font-family: 'sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFAFA;
  border: 1px solid;

}

main div.secondSection img {
  width: 1346px;
  height: 165px;
  margin: 0 auto;
}

main article.text {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main article.text h2 {
  text-align: center;
  padding: 65px 64px 21px 64px;
  width: 768px;
  height: 58px;


  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

main article.text p {
  text-align: center;
  margin: 0px 64px 38px 64px;
  width: 768px;
  height: 58px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%
}

main section.images div.divisao {

  margin: 10px 0px 60px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main section div.divisao figure img {
  width: 616px;
  height: 640px;
}

main section.thridSection {
  background-color: #FFECEC;
}

main section.thridSection div.textTitle {
  display: flex;
  flex-direction: column;
}

main section.thridSection div.textTitle h1 {

  width: 768px;
  height: 58px;
  margin: 64px 0px 0px 64px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

main section div.textTitle p {
  width: 768px;
  height: 27px;
  margin: 24px 0px 70px 64px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

main section.thridSection section.gradeBlog {
  display: flex;
  justify-content: space-between;
}

section.gradeBlog div.grade {

  margin: 0px 0px 160px 0px;
}

section div.grade figure.gradeImg img {
  margin: 0px 0px 30px 15px;

}

section div.grade h2.textoh2 {

  width: 416px;
  height: 68px;
  margin-top: -8px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

section div.grade p.textoP {
  width: 416px;
  height: 48px;
  margin: 6px 20px 26px 20px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

section div.grade a.link {
  width: 82px;
  height: 24px;
  text-decoration: none;
  color: #000000;
  margin: 20px;
  padding-bottom: 150px;

  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

main section.fourthsection {
  background: #FFFAFA;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px;
  gap: 80px;
}

section.fourthsection article div {
  margin: 40px 0px;
}

section.fourthsection article p.four {
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

section.fourthsection article p.four2 {
  margin: 50px 0px 0px 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

section.fourthsection article p.four3 {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

section.fourthsection article img.traco {
  display: flex;

}

footer {
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
  background-color: #FFECEC;
}

footer section.container {
  display: flex;
}

footer section.container a.logo {
  margin-right: 20px;
}

footer section.container h1.dshape {
  margin-right: 300px;
  padding: 7px 0px 0px 0px;
  color: #FF490F;

  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

footer section.container nav.firstMenu ul {
  display: flex;
  padding: 22px;
  list-style: none;
}

footer section.container nav.firstMenu ul li a{
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
}

footer section.container nav.redesSociais {
  display: flex;
  list-style: none;
  margin: 23px 0px 0px 200px;
}

footer section.container nav.redesSociais li a {
  margin-left: 20px;
}

footer section.container nav.end ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 90px;
  text-decoration-line: underline;
  color: #FF490F;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}